.rcContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  /* overflow: hidden; */
  /* background-color: blue; */
  /* height: 100%; */
  /* padding: 0px 0px; */
}

.rcSideItem {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 5px;
  justify-content: start;
  border-radius: 5px;
  margin: 1px 0px;
  color: rgb(181, 181, 181);
  cursor: pointer;
}

.rcSideItemSelected {
  display: flex;
  align-items: center;
  background-color: rgb(96, 96, 96);
  padding: 5px;
  justify-content: start;
  border-radius: 5px;
  margin: 1px 0px;
  color: whitesmoke;
  cursor: pointer;

}

.rcSideItemSelected:hover {
  background-color: rgb(88, 88, 88);
}

.rcSideItem:hover {
  background-color: rgb(85, 85, 85);
}

.rcSideItem img {
  width: 32px;
  border-radius: 50px;
  margin-right: 10px;
}

.rcSideItemSelected img {
  width: 32px;
  border-radius: 50px;
  margin-right: 10px;
}

.rcUsername {
  padding-right: 10px;
}


/* .rNav {
  padding: 20px 10px;
  background-color: white;
}

.rList {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  justify-content: space-between;
}

.rList:hover {
  background-color: whitesmoke;
}

.rList img {
  width: 50px;
  border-radius: 50px;
  margin-right: 10px;
}

.rTitle {
  display: flex;
} */
.usersNumber {
  color: white;
  background-color: rgb(237, 71, 71);
  border-radius: 50px;
  padding: 1px 1px;
}
