.flContainer{
    background-color: rgb(57, 57, 57);
    height: calc(100vh - 84.7px);
    /* width: 100%; */
    /* padding-left:30px; */
    padding-top:15px;
    padding-bottom: 20px;
    
   
    display: flex;
    flex-direction: column;
    /* overflow:hidden; */
    

}

.flProfile {
  /* background-color: red; */
  width: 32px;
  position: relative;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  margin-top:5px;
}

.flStatusOn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  bottom: 3px; /* Move the rectangle up by half its height */
  right: 0px;
}
.flStatusOff {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  bottom: 3px; /* Move the rectangle up by half its height */
  right: 0px;
}

.flSideItem{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    border-radius: 8px;
    overflow-x: auto;
    padding-left:15px;
  
}
.flSideItem img {
    width: 32px;
    border-radius: 50px;
    margin-right: 10px;
  }

.flSideProfile{
    display: flex;
    padding: 10px 0px;
    
}
.flSideItem:hover{
  
    background-color: gray;
   
}

.flSearch{
    background-color: rgb(29, 29, 29);
    color: rgb(181, 181, 181);
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 3px;
    margin-bottom: 25px;
    /* cursor: pointer; */
    margin-right:20px;
    margin-left:30px;
    
}

.flScroll{
    overflow-y: auto;
    padding-right:20px;
    
}
.flFriend{
    /* border-top: white 0.3px solid; */
    /* margin-right:20px; */
    /* overflow-y:auto; */
    margin-left:15px;
}

.flLine{
    height: 0.3px;
    /* width: 100%; */
    margin: 0px 30px;
    /* padding-right:30px; */
    background-color: rgb(149, 149, 149);
    margin-right:30px;
}

.flOnline{
    color:whitesmoke;
    font-size:12px;
    margin-top:20px;
    margin-bottom:20px;
    margin-right:20px;
    margin-left:30px;
}
.flNamestatus{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* background-color: red; */
    /* height: 35px; */
}
.flUsername{
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    /* margin-bottom: 5px; */
    
}
.flStatus{
    margin-top:5px;
    font-size: 12px;
    color: whitesmoke;
}
.flFlag{
    width: 90px;
    height: 65px;
    background-color: transparent(57, 57, 57);
    /* border-radius: 50%; */
    /* position: absolute; */
    /* right: 40px; */
    /* top:0;
    bottom: 0; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.flMore{
    width:32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgb(33, 33, 33);
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(205, 204, 204);
    cursor: pointer;
}
